/* Глобальные стили */

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Элементы не видны на сайте, но видны скринридерам */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

body {
  font-family: var(--main-font, "Montserrat-VF"), "Montserrat", sans-serif;
  font-variation-settings: "wght" var(--main-font-wght, 500);
  color: var(--font-main-color, #ddd);
}

.main {
  padding: 0 clamp(2.5rem, 1.0714rem + 2.9762vw, 3.75rem);
  /* боковые отступы меняются динамически от 60px до 40px при ширине экрана от 1440px до 768px */
}

/* Выделение цветом - для слов и букв для span */
.accent-colored {
  color: var(--font-highlight-color, #4de1cd);
}

/* общий стиль для заголовков */
.card-title {
  text-transform: uppercase;
  font-variation-settings: "wght" var(--main-font-wght-accent, 700);
  font-size: clamp(3rem, -0.4286rem + 7.1429vw, 6rem);
  /* Размер заголовка меняется динамически от 96px до 48px при ширине экрана от 1440px до 768px */
}

@media (width <= 768px) {
  .card-title {
    font-size: clamp(2rem, 1.1176rem + 3.9216vw, 3rem);
    /* Размер заголовка меняется динамически от 48px до 32px при ширине экрана от 768px до 360px */
  }
  .main {
    padding: 0 clamp(1.25rem, 0.1471rem + 4.902vw, 2.5rem);
  }
  /* боковые отступы меняются динамически от 40px до 20px при ширине экрана от 768px до 360px */
}