/* sections/interests/interests.css */
/* Стили для секции "Интересы" */
/* Карточки с информацией*/
.section_interests {
  padding-block-start: 120px;
}
.interests_card-title {
  padding-block-end: clamp(3.75rem, 0.8929rem + 5.9524vw, 6.25rem);
}

.interests_card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: repeat(2, 1fr);
  gap: clamp(0.625rem, -0.0893rem + 1.4881vw, 1.25rem);
}

.interests_card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  width: 100%;
  background-color: var(--card-color, rgba(255, 255, 255, 0.08));
  border: 2px solid var(--card-border-color, rgba(255, 255, 255, 0.01));
  backdrop-filter: blur(10.5px);
  block-size: clamp(17.5rem, -0.9615rem + 28.8462vw, 25rem); /*до 1024 - 280*/
  padding: clamp(0.625rem, -0.0893rem + 1.4881vw, 1.25rem);
}

.interests_open-button {
  width: 100%;
}

.interests_button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 41px;
  background: var(--button-color, #d9d9d9);
  border-radius: 20px;
  position: relative;
}

.interests_button-container::after,
.interests_button-container::before {
  content: "";
  position: absolute;
  background-color: var(--button-text-color, #000);
  transform-origin: right;
  width: 10px;
  height: 2.5px;
  top: 51%;
  right: 5%;
  border-radius: 5px;
}

.interests_button-container::after {
  rotate: 45deg;
}

.interests_button-container::before {
  rotate: -45deg;
}

.interests_button-text {
  font-size: clamp(0.875rem, 0.7321rem + 0.2976vw, 1rem);
  color: var(--button-text-color, #000);
}

.interests_card-item-title {
  font-size: clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem);
  font-variation-settings: "wght" var(--main-font-wght-accent, 700);
}

.interests_card-list li:last-child {
  grid-column: 1 / -1;
}

.interests_card-list li:last-child .interests_card-item {
  block-size: 200px;
}

@media ((width <= 1024px)) {
  .interests_card-item {
    block-size: clamp(12.5rem, -2.5rem + 31.25vw, 17.5rem); /*до 768 - 200*/
  }

  .interests_card-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .interests_card-list li:last-child {
    grid-column: 2 / -1;
  }

  .interests_card-list li:last-child .interests_card-item {
    block-size: clamp(12.5rem, -2.5rem + 31.25vw, 17.5rem); /*до 768 - 200*/
  }
}

@media (width <= 768px) {
  .interests_button-text {
    font-size: clamp(0.75rem, 0.6397rem + 0.4902vw, 0.875rem); /*до 360*/
  }
  .section_interests {
    padding-block-start: clamp(6.25rem, 5.1471rem + 4.902vw, 7.5rem);
  }
  .interests_card-title {
    padding-block-end: 60px;
  }

  .interests_card-item {
    block-size: clamp(8.75rem, 5.4412rem + 14.7059vw, 12.5rem); /*до 360 - 140*/
  }

  .interests_card-list {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .interests_card-list li:last-child {
    grid-column: 1 / -1;
  }

  .interests_card-list li:last-child .interests_card-item {
    block-size: clamp(8.75rem, 5.4412rem + 14.7059vw, 12.5rem);
  }

  .interests_card-item-title {
    font-size: clamp(0.875rem, 0.7647rem + 0.4902vw, 1rem);
  }
}

/* Диалоговое окно*/
.interests_dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.interests_dialog[open] {
  animation: dialog-fade-in 0.3s ease-out forwards;
}

.interests_dialog[open].closing {
  animation: dialog-fade-out 0.2s ease-out forwards;
}

.interests_dialog {
  display: grid;
  grid-template-rows: auto 1fr;
  inline-size: 90vw;
  max-inline-size: 600px;
  background-color: var(--dialog-card-color, rgb(26, 26, 26, 0.85));
  border: 2px solid var(--card-border-color, rgba(255, 255, 255, 0.01));
  border-radius: 20px;
  padding: clamp(1.25rem, 0.5357rem + 1.4881vw, 1.875rem);
  position: fixed;
  inset: 0;
  z-index: 5;
}

.interests_dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.3);
  animation: backdrop-fade-in 0.3s ease-out forwards;
}

.interests_dialog[open].closing::backdrop {
  animation: backdrop-fade-out 0.2s ease-out forwards;
}

.dialog_title {
  color: var(--font-highlight-color, #4de1cd);
  font-size: clamp(1.5rem, 0.9286rem + 1.1905vw, 2rem);
  padding-bottom: clamp(0.9375rem, 0.2232rem + 1.4881vw, 1.5625rem);
  grid-row: 1;
}

.dialog_text {
  color: var(--font-main-color);
  font-size: clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem);
}

.interests_close-button {
  grid-row: 1;
  background-color: var(--button-color, #d9d9d9);
  grid-row: 1;
  justify-self: right;
  position: relative;
  background: transparent;
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

.interests_close-button::after,
.interests_close-button::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  top: 10px;
  right: -3px;
  background-color: var(--button-color, #d9d9d9);
  border-radius: 5px;
}

.interests_close-button::after {
  rotate: 45deg;
}

.interests_close-button::before {
  rotate: -45deg;
}
